.main__header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  max-width: 60%;

  h2 {
    color: #71787d;
    font-size: 30px;
    margin-bottom: 0px;
  }

  p {
    text-align: center;
    color: #71787d;
  }
}

.description__content__container {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: space-between;

  div {
    width: 100%;

    h3 {
      color: #71787d;
      margin-bottom: 5px;
      font-size: 1.3em;
    }

    input {
      height: 32px;
      border-radius: 4px;
      border: 1px solid gray;
    }

    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 100px;
      height: 32px;
      border-radius: 4px;
      border: 1px solid gray;
    }
  }
}

.description__content__container__requestHeadline {
  width: 100%;
}
